<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <link rel="icon" type="image/x-icon" href="static/img/linkinsan.png">

    <link rel="icon" type="image/x-icon" href="static/img/linkinsan.png">

    {% if language==0 %}

    <title>OneLink | My Apps</title>

    {% else %}

    <title>TekLink | Uygulamalarım</title>

    {% endif %}



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/styles/master.css">


</head>



<div class="my-bar bg-primary">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">

                {% if language==0 %}

                <a class="navbar-brand" href="/myApps">My Apps</a>

                {% else %}

                <a class="navbar-brand" href="/myApps">Uygulamalarım</a>

                {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="justify-content: space-between;" id="navbarNavAltMarkup">

                    <div class="navbar-nav">

                        {% if language==0 %}

                        <a class="nav-link active" aria-current="page" href="/create">Create App</a>

                        {% else %}

                        <a class="nav-link active" aria-current="page" href="/create">Uygulama Oluştur</a>

                        {% endif %}

                    </div>
                    <div class="navbar-nav">

                        {% if language==0 %}

                        <a class="nav-link active" aria-current="page" href="/me">My Profile</a>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                language
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/en" style="color:white">English</a>
                                <a class="dropdown-item" href="/tr" style="color:white">Turkish</a>
                            </div>

                        </div>

                        {% else %}

                        <a class="nav-link active" aria-current="page" href="/me">Profilim</a>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dil
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/tr" style="color:white">Türkçe</a>
                                <a class="dropdown-item" href="/en" style="color:white">İngilizce</a>
                            </div>

                        </div>

                        {% endif %}

                    </div>


                </div>
            </div>
        </nav>
    </div>
</div>

<br></br>


<section class="banner">
    <style class="w-100">
        section.banner {

            background-image: url('static/img/banner1.png');
            background-repeat: no-repeat;


        }
    </style>

    <div class="container">

        {% if flag==0 %}


        <div class="alert alert-success alert-dismissible fade show" role="alert">

            {% if language==0 %}
            <strong>Success!</strong> {{flagText}}

            {% else %}

            <strong>Başarılı!</strong> {{flagText}}
            {% endif %}

            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>

        </div>

        {% elif flag==1 %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">

            {% if language==0 %}

            <strong>Warning!</strong> {{flagText}}


            {% else %}

            <strong>Uyarı!</strong> {{flagText}}


            {% endif %}


            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>

        </div>


        {% elif flag==2 %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">

            {% if language==0 %}

            <strong>Error!</strong> {{flagText}}

            {% else %}

            <strong>Hata!</strong> {{flagText}}

            {% endif %}


            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>

        </div>

        {% else %}

        {% endif %}
        <div class="row">

            <div class="col-4 text-left yazi">

                {% if language==0 %}

                <p class="text-center">Don't miss the opportunity to combine multiple links in one link!</p>


                <div class="col-4 text-center olustur">

                    <a href="/register"><i class="fa-solid fa-link fa-2x">Create</i></a>


                </div>

                <br>

                <div class="col-4 text-center olustur">

                    <a href="https://ahmetfurkandemir.s3.amazonaws.com/OneLinkTR_Guideline.pdf"><i class="fa-solid fa-book fa-2x">&nbsp;Guideline</i></a>

                </div>


                {% else %}

                <p class="text-center">Birden fazla linki tek linkte
                    birleştirme fırsatını kaçırma!</p>

                <div class="col-4 text-center olustur">

                    <a href="/create"><i class="fa-solid fa-link fa-2x">Olustur</i></a>


                </div>

                <br>

                <div class="col-4 text-center olustur">

                    <a href="https://ahmetfurkandemir.s3.amazonaws.com/OneLinkTR_Guideline.pdf"><i class="fa-solid fa-book fa-2x">&nbsp;Kılavuz</i></a>

                </div>


                {% endif %}

                <br>


            </div>
            <div class="col-4 text-center olustur">


            </div>
            <div class="col-4 text-right telefon">
                <img class="tel" src="static/img/Telefon.png" width="100%" height="auto">


            </div>



        </div>


    </div>

</section>
<br></br>
<section class="alt-bilgi">

    <style class="w-100">
        section.alt-bilgi {

            background-image: url('static/img/banneralt.png');
            background-repeat: no-repeat;

        }
    </style>

    <div class="container">

        <div class="row">
            <div class="col-6 text-left insan">

                <img src="static/img/linkinsan.png " width="100%" height="auto">

            </div>
            <div class="col-6 paragraf">

                {% if language==0 %}

                <div class="baslik1">
                    <h1 class="text-center">Keep It Together!</h1><br>
                </div>

                <div class="paragraf1">
                    <p>With this application developed by the SoftForRange team, keep both your links and your customers
                        together.</p>
                </div>


                {% else %}


                <div class="baslik1">
                    <h1 class="text-center">Bir Arada Tutun!</h1><br>
                </div>

                <div class="paragraf1">
                    <p>SoftForRange ekibi tarafından geliştirlen
                        bu uygulama sayesinde hem linklerinizi
                        hem müşterilerinizi bir arada tutun.</p>
                </div>


                {% endif %}

            </div>

        </div>

        <div class="row">
            <div class="col-6 link ">

                <img src="static/img/linkel.png" width="100%" height="auto">

            </div>
            <div class="col-6 paragraf">

                {% if language==0 %}

                <div class="baslik1">
                    <h1 class="text-center">Economize</h1><br>
                </div>

                <div class="paragraf1">
                    <p>Don't have to allocate a separate ad budget for each app, get it all done at once!</p>
                </div>


                {% else %}

                <div class="baslik1">
                    <h1 class="text-center">Tasarruf Edin</h1><br>
                </div>

                <div class="paragraf1">
                    <p>Her uygulamaya ayrı reklam
                        bütçesi ayırmak zorunda kalmayın
                        tek seferde hepsini halledin!</p>
                </div>


                {% endif %}


            </div>

        </div>

    </div>

</section>

<br></br>

</html>


{% include "includes/footer.html" %}
